{% extends 'base.html.twig' %}

{% block body %}

{% if is_granted('ROLE_USER') %}
    {% if tasks is empty %}
    <p>Ajouter des taches</p>

    {% else %}

        <ul>
            {% for task in tasks %}
            <li>employée: {{task.userId.prenom}} libelle: {{task.libelle}} heure de début: {{task.starttime | date('H:i')}}  heure de fin: {{task.endtime | date('H:i')}}</li>
            {% endfor %}
        </ul>
        

    {% endif %}

</div>
{% else %}
       <p>Je ne sais pas comment vous êtes venus ici mais il faut etre connecté pour acceder au contenue de la page</p>     
{% endif %}


{% endblock %}